:root {
    --color-background: hsl(185, 41%, 84%);
    --color-white: hsl(0, 0%, 100%);
    --color-display-background: hsl(183, 100%, 15%);
    --color: hsl(186, 14%, 43%);
    --color-legend: hsl(184, 14%, 56%);
    --color-input-background: hsl(189, 41%, 97%);
    --color-primary: hsl(172, 67%, 45%);
    --color-invalid-feedback: hsl(11, 60%, 68%);
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--color-background);
}

input {
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--color-input-background);
    color: var(--color-display-background);
    text-align: end;
}

button, input {
    font-family: "Space Mono", monospace;
    height: 2rem;
}

input:focus {
    border: 2px solid var(--color-primary);
    caret-color: var(--color-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
    cursor: pointer;
    border: none;
}

input::placeholder {
    color: var(--color-legend);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}

.calculation-container {
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: .9rem;
    max-width: 35rem;

    display: flex;
    gap: 2rem;
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: .9rem 0;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    color: var(--color);
}

.field-group label,
.field-group span,
.display-info-title {
    font-size: .7rem;
}

.field-group.invalid-field input {
    border: 2px solid var(--color-invalid-feedback);
}

.field-label-container {
    display: flex;
    justify-content: space-between;
}

.invalid-field-value-message {
    display: none;
    color: var(--color-invalid-feedback);
}

.field-group.invalid-field .invalid-field-value-message {
    display: initial;
}

.icon-text-field {
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: var(--color-input-background);
    border-radius: .2rem;
    position: relative;
}

.icon-text-field img {
    position: absolute;
    left: .5rem;
}

.icon-text-field input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: transparent;
    border-radius: .2rem;
    padding: .3rem .3rem .3rem 1.2rem;
}

.tips-container {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    justify-content: space-between;
}

.tips-container input,
.tips-container button {
    width: 4.3rem;
    border-radius: .2rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.tips-container input {
    padding: .6rem .3rem;
}

.tips-container input::placeholder {
    text-align: center;
}

.tips-container input:focus {
    border: 2px solid var(--color-primary);
    caret-color: var(--color-primary);
}

.tips-container button {
    font-family: "Space Mono", monospace;
    background-color: var(--color-display-background);
    color: var(--color-white);
}

.tips-container button.selected {
    background-color: var(--color-primary);
    color: var(--color-display-background);
}

.tips-container button:active {
    --color-primary: hsl(172, 67%, 70%);
    background-color: var(--color-primary);
    color: var(--color-display-background);
}

.outputs {
    width: 50%;
    background-color: var(--color-display-background);
    border-radius: .7rem;
    padding: 1.7rem 1.4rem 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.display-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.display-info-title {
    color: var(--color-white);
}

.display-info-legend {
    font-size: .6rem;
    color: var(--color-legend);
}

.display-value {
    color: var(--color-primary);
    font-size: 1.6rem;
}

.reset-button {
    background-color: var(--color-primary);
    border-radius: .2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    color: var(--color-display-background);
}

.reset-button:disabled {
    --color-primary: hsl(183, 79%, 24%);
    cursor: auto;
}

.reset-button:active {
    --color-primary: hsl(172, 67%, 70%);
    color: var(--color-display-background);
}

.reset-button:disabled:active {
    --color-primary: hsl(183, 79%, 24%);
}

.attribution {
    padding: .5rem;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
}

.attribution a {
    color: var(--color-display-background);
    text-decoration: none;
}

@media (max-width: 827px) {
    .tips-container input,
    .tips-container button {
        width: 47%;
    }
}

@media (max-width: 660px) {
    :root {
        font-size: 15px;
    }

    .container {
        justify-content: end;
    }

    .content {
        justify-content: space-between;
        flex-basis: auto;
    }

    .logo-container {
        margin: auto 0;
    }

    .calculation-container {
        width: 100%;
        min-height: 100%;
        border-radius: .9rem .9rem 0 0;
        flex-direction: column;
        align-items: center;
        gap: .6rem;
    }

    .inputs, .outputs {
        width: 100%;
    }

    .tips-container input::placeholder {
        text-align: end;
    }

    .outputs {
        justify-content: space-between;
        gap: 1.6rem;
        padding: 1.8rem 1.2rem 1.2rem;
    }

    .attribution {
        display: none;
    }
}

@media (max-width: 380px) {
    .tips-container input,
    .tips-container button {
        width: 100%;
    }

    .display-info-title {
        font-size: .6rem;
    }
    
    .display-info-legend {
        font-size: .5rem;
    }

    .display-value {
        font-size: 1.2rem;
    }
}

@media (max-width: 290px) {
    .display-info-title {
        font-size: .4rem;
    }
    
    .display-info-legend {
        font-size: .3rem;
    }

    .display-value {
        font-size: 1rem;
    }
}
